.search {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  h1 {
    color: $secondaryColor;
  }
  .search-from {
    position: relative;
    margin: 20px 0 0 0;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      right: 7px;
      width: 25px;
      height: 25px;
      background: url("../images/magnifier.png") no-repeat;
      //   background-size: contain;
      cursor: pointer;
    }
    input[type="text"] {
      border: 1px solid $primaryColor;
      padding: 13px 30px 13px 10px;
      display: inline-block;
      border-radius: 10px;
      width: 220px;
      &:focus {
        outline: none;
      }
    }
  }
  @media (max-width: 500px) {
    .search-from {
      input[type="text"] {
        width: auto;
      }
    }
    h1 {
      font-size: 1.5rem;
      padding-top: 10px;
    }
  }
  @media (max-width: 400px) {
    flex-wrap: wrap;
    .search-from {
      width: 100%;
      input[type="text"] {
        width: 100%;
      }
    }
    h1 {
      font-size: 1.5rem;
      padding-top: 10px;
    }
  }
}
